.container{
  margin-top: 0;
  display:flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  background-color: #333;
}

.list{
  list-style: none;
  
}

.item{
  color: #fff;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  height: 100%;
  transition: 0.3s ;
}

.item:hover{
  background-color: #dedede;
  color: #333;
  border-radius: 10px;
}